---
import MainGridLayout from "../layouts/MainGridLayout.astro";
import SectionHeader from "../components/SectionHeader.astro";
import GitHubRelease from "../components/GitHubRelease.astro";
---

<MainGridLayout
title="下載中心"
description="CLSC Download Center"
>

<section class="card-base p-8">

<SectionHeader
title="下載中心"
eyebrow="Downloads"
description="CLSC官方APP下載中心"
/>

<GitHubRelease />

</section>

</MainGridLayout>