<div class="grid gap-4 md:grid-cols-2">
  <img
    src="https://github-readme-stats.vercel.app/api?username=chenbochao0807&show_icons=true&theme=transparent"
    alt="GitHub Stats"
    title="CLSC GitHub Stats"
    width="800"
    height="200"
    loading="lazy"
    class="w-full rounded-xl"
  />
</div>